# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

* Python
* R
* SQL
* Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Seaborn

**Objectives:**

* List popular languages for Data Science
* List popular tools for Data Science
* Commonly used data science languages

| Data Science Tools |
| :----------------------: |
| Jupyter notebook |
| Tensor flow |
| Pytorch |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
 #This will convert 200 minutes to hours by diving by 60
min=200
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",min)

Hours= 3
Minutes= 200

## Author

Srujan H J